<div class="container" style="padding:20px;">
	<h1 style="text-align:center;">
		Sistema de Parqueos
	</h1>
	<hr>
	<ul>
		<li><a href="/binnacle/entry">Registrar entrada</a></li>
		<li><a href="/binnacle/search">Registrar salida</a></li>
		<li><a href="/vehicle/create/1">Regisrar vehiculo oficial</a></li>
		<li><a href="/vehicle/create/2">Regisrar vehiculo recidencial</a></li>
		<li><a href="/vehicle/index">Regisrar vehiculo</a></li>
	</ul>
	<hr>
  <main>
  <router-outlet></router-outlet>
  </main>
</div>