<div>

    <div class="d-flex justify-content-between">
        <h4>Editar Vehiculo</h4>
        <a href="#" routerLink="/vehicle/index" class="btn btn-primaryt">Atras</a>
    </div>
  
    <hr/>
  
    <form [formGroup]="form" (ngSubmit)="submit()">
        
        <div class="form-group row">
            <div class="col-md-6 ">
            <label for="title">Placa:</label>
            <input
                formControlName="plate"
                [(ngModel)]="vehicle.plate"
                id="plate"
                type="text"
                class="form-control">
            <div *ngIf="f.plate.touched && f.plate.invalid" class="alert alert-danger">
                <div *ngIf="f.plate.errors.required">*Plate is required.</div>
                <div *ngIf="f.plate.errors.pattern">*The plate must only contain letters.</div>
            </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
            <label for="type_id">Tipo:</label>
            <input
                formControlName="type_id"
                [(ngModel)]="vehicle.type_id"
                id="type_id"
                type="number"
                class="form-control">
            <div *ngIf="f.type_id.touched && f.type_id.invalid" class="alert alert-danger">
                <div *ngIf="f.type_id.errors.required">*Type_id is required.</div>
                <div *ngIf="f.type_id.errors.pattern">*The type_id must only contain numbers.</div>
            </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Actualizar</button>
    </form>
</div>